.board {
    background-color: red;
    width: 500px;
    height: 400px;
    position: relative;
    margin-left: 10px;
}
.square {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    top: 200px;
}
